.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: background-color 0.4s;
}

.btn-primary {
  background: #fc997c;
  color: #fff;
  border: 2px solid #fc997c;
}

.btn-secondary {
  background-color: #2e4c6d;
  color: #fff;
  border: 2px solid #2e4c6d;
}

.btn-primary:hover {
  background: #fff;
  color: #fc997c;
  border: 2px solid #fc997c;
}

.btn-secondary:hover {
  background-color: #fff;
  color: #2e4c6d;
  border: 2px solid #2e4c6d;
}

.btn-outline-primary {
  background: #fff;
  color: #fc997c;
  border: 2px solid #fc997c;
}

.btn-outline-secondary {
  background-color: #fff;
  color: #2e4c6d;
  border: 2px solid #2e4c6d;
}

.btn-outline-primary:hover {
  background: #fc997c;
  color: #fff;
  border: 2px solid #fc997c;
}

.btn-outline-secondary:hover {
  background-color: #2e4c6d;
  color: #fff;
  border: 2px solid #2e4c6d;
}
