* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#showcase {
  background: url("home-bg.jpeg");
  background-position: center;
  /* background-position: top right; */
  /* background-position: bottom; */
  height: 500px;
  width: 100%;
  padding: 10px;
}

.main-header {
  background-color: #fc997c;
  padding: 8px 16px;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 99px);
  text-align: right;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 10px;
}

.main-header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}

.main-nav__item a {
  text-decoration: none;
  color: #fff;
}

.main-nav__item a:hover,
.main-nav__item:hover::before {
  color: #2e4c6d;
}

.main-nav__item:active::before,
.main-nav__item a:active {
  color: #fff;
}

.main-nav__item::before {
  content: "\2022";
  color: #fff;
}

.main-nav__item--login a {
  color: #fff;
  background-color: #2e4c6d;
  padding: 4px 16px;
  border-radius: 8px;
  border: 2px solid #fff;
}

.main-nav__item--login::before {
  content: none;
}

.main-nav__item--login:hover a {
  background-color: #fff;
  color: #2e4c6d;
  border-color: #2e4c6d;
}

#how-it-works {
  font-size: 18px;
  text-align: center;
}

.main-content__elements {
  margin: 40px 20px;
  display: inline-block;
  /* width: 30%; */
  width: 300px;
}
